<%- include ('../partials/before-head.ejs') %>
<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navigation.ejs') %> 
<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/after-footer.ejs') %>

<main>
    <article>
    <h2>Cool products</h2>
    <ul>
        <li>Amplifier</li>
        <li>Turntable</li>
        <li>CD Players</li>
        <li>Headphones</li>
        <li>Speakers</li>
    </ul>
</article>
</main>
<%- include ('../partials/footer.ejs')%>
<%- include ('../partials/after-footer.ejs')%>